/* Classes */

.scroll {
    height: 100px;
    overflow: scroll;
}

.centeredImage {
    text-align: center;
    display: block;
}

.scroll {
    overflow: hidden;
}

.loadingImage {
    background-image: url("../../img/misc/squares.gif");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 11px;
    display:block;
}

input.ui-button {
    padding: 0 0;
}

/* IDs */

#matterhorn-main-logo {
    background-image: url("../../img/mh_logos/Matterhorn_80x56.gif");
    background-repeat: no-repeat;
    background-position: center;
    display:block;
    width: 80px;
    height: 56px;
}

/* Start: mobile_redirect Box */
.mobile_redirect-outer {
    background-color: #FFFFFF;
    border:1px solid #3399FF;
    width:530px;
    margin:20px;
    color: #000000;
}

.mobile_redirect-inner-up {
    text-align: left;
    background:#3399FF;
    color:white;
    padding-top:2px;
    padding-bottom:2px;
}

.mobile_redirect-inner-down {
    padding:10px;
}

.mobile_redirect-inner-image {
    margin-left:5px;
    margin-right:5px;
}

.mobile_redirect-inner-image-2 {
    margin-left:5px;
    margin-right:5px;
}
/* End: mobile_redirect Box */

/* Start: ie8comments Box */
.ie8comments-outer {
    background-color: #FFFFFF;
    border:1px solid #3399FF;
    width:530px;
    margin:20px;
    color: #000000;
}

.ie8comments-inner-up {
    text-align: left;
    background:#3399FF;
    color:white;
    padding-top:2px;
    padding-bottom:2px;
}

.ie8comments-inner-down {
    padding:10px;
}

.ie8comments-inner-image {
    margin-left:5px;
    margin-right:5px;
}

.ie8comments-inner-image-2 {
    margin-left:5px;
    margin-right:5px;
}
/* End: ie8comments Box */

/* Start: icons for mobile_redirect and ie8comments Boxes */
.icon {
    width:16px;
    height:16px;
    background-repeat: none;
    background-position: center center;
    float: left;
}

.icon-2 {
    width:16px;
    height:16px;
    background-repeat: none;
    background-position: center center;
    float: right;
    opacity:0.75;
    filter:alpha(opacity=75);
}

.icon-2:hover {
    opacity:1.0;
    filter:alpha(opacity=100);
}

.icon-information {
    background-image: url(/engage/ui/img/icons/information.png);
}

.icon-close {
    background-image: url(/engage/ui/img/icons/cross.png);
}
/* End: icons for mobile_redirect and ie8comments Boxes */

/* Start: Flash Player loading */
#oc_flash-player-loading {
    background-color: none;
    vertical-align: middle;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 50px;
    padding: 0px;
    width: 37%;
    height: 140px;
    display: block;
    margin-left: 37%;
    margin-right: 0 auto;
}

#matterhorn-init-logo {
    background-image: url("/engage/ui/img/mh_logos/MatterhornLogo_loading.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    display:block;
    width: 120px;
    height: 90px;
    float: left;
    position: relative;
}

#initializing {
    font-size:20px;
    font-family: arial, helvetica, clean, sans-serif;
    float: left;
    height: 90px;
    line-height: 165px;
    vertical-align: bottom;
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
}

#loading-init {
    background-image: url("/../../img/misc/squares.gif");
    background-repeat: no-repeat;
    background-position: bottom center;
    display:block;
    width: 43px;
    height: 90px;
    float: left;
    position: relative;
}
/* End: Flash Player loading */

#oc-search-result tr:hover {
    background-color: #FFFFCC;
}

#oc-search-result {
    overflow: visible;
}

#oc_flash-player {
    height:50px;
}

#scrubber-table {
    width: 100%;
    float: left;
    margin-top: -5px;
}

#oc_video-size-dropdown {
}

#oc_video-view {
    text-align: right;
    margin-top: 6px;
    height: 20px;
}

#analytics {
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 2;
}

#segmentstable1 {
    z-index: 1;
    position: absolute;
    top: 0px;
    left: 0px;
}

#oc_player-head-right, #data, #oc_video-view, #oc_checkbox-statistics, #oc_label-statistics, #oc_checkbox-annotations, #oc_label-annotations, #analytics, #annotation, #segments_ui_slider_data1, #segments_ui_slider_data2, #segments_ui_slider_information, #oc_ui_tabs, #oc_description, #oc_slides, #oc_slidetext, #oc_search-segment, #oc_search, #segment-tooltip, #oc_embed, #oc_player-head-see-more, #segments-table2, #oc_video-quality, #oc_share-time, #oc_download-button, #oc_search, #oc_title-bar-gallery-link, #oc_mobile_redirect, #oc_ie8comments, #oc_user-tab, #oc_clipshow-dialog {
    display: none;
}

#logout {
  color: #A72123;
  text-decoration: none;
  display: none;
  float: right;
  margin-right: 0px;
  margin-bottom: 5px;
}

#logout:hover {
  text-decoration: underline;
}