.scroll {
    overflow: hidden;
	width: 100%;
    margin: 0 auto;
    position: relative;
    height: 85px;
}

.scrollContainer {
	position: relative;
	width: 0px;
	left: 0px;
}

.scrollContainer div.panel {
    padding: 1px;
}

.inside {
	padding: 0px;
	border: none;
}

.inside img {
	display: block;
	border: none;
	margin: 0 0 0 0;
	height: 83px;
}

.scrollButtons {
    position: absolute;
    top: 17px;
    cursor: pointer;
}

.scrollButtons.left {
    left: -52px;
}

.scrollButtons.right {
    right: -52px;
}

.oc-segments-time {
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: top;
}

.progress-segment {
    width: 100%;
}

.segments {
    border-spacing: 0;
    padding: 0;
}

.clipshow {
    height: 25px;
    position: absolute;
    width: 100%;
}

.clipshow-editor {
    height: 25px;
    position: absolute;
    width: 100%;
}

.clipshow-editor-component {
    float: left;
    height: 25px;
    border: 1px solid #AAAAAA;
    color: #000000;
    background: orange;
    opacity: 0.6;
    text-align: center;
}

.clipshow-component {
    float: left;
    background: red;
}

.clipshow-padded {
	  padding-bottom: 1em;
}

.oc-segments-preview {
  display: none;
}

span.marked {
  background-color: #FFFF00;
}

div.segment-tooltip
{
  position :                absolute;
  padding:                  2px;
  text-align:               center;
  -moz-border-radius :      5px 5px 5px 5px;
  -webkit-border-radius :   5px 5px 5px 5px;
  border :                  1px solid #f8bb22;
  color :                   #000000;
  background-color:         #fae6a0;
  font-size :               14;
  cursor:                   default !important;
  z-index:                  1000;
}

a.segments-time, a.segments-time:link, a.segments-time:visited{
  margin-right: 16px;
  cursor: pointer;
  color: #2d8f8b;
  text-decoration: none;
}

a.segments-time:hover, a.segments-time:focus{
  color: #2d8f8b;
  text-decoration: underline;
}

#slider {
    width: 80%;
    margin: 0 auto;
    position: relative;
    border: 1px solid #ccc;
	  height: 85px;
}

#oc-segments_text tr:hover {
    background-color: #FFFFCC;
}

#segmentstable1 {
    float: left;
    /*
    opacity: 0.65;
    filter: alpha(opacity=65);
    */
}

#segmentstable2 {
    border-spacing: 0;
    padding: 0;
}
